
.editor {
    cursor: text;
    background: #fefefe;
    min-height: 140px;
  }

  .titleEditor{
    cursor: text;
    background: #fefefe;
  }

.title{
  font-size: 2em;
  font-family: inherit;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

.title:focus{
  outline: none;
}